*{
    margin:0;
}

body{
    background-color:#FFFFFF;
}

#header {
    width: 100%;
    height: 80px;
    background-color:#4EA1FF;
    background-image:url(../img/pattern.png);
    background-size:contain;
    background-repeat:repeat;
}

#logo{
    width:150px;
}

.sottotitolo {
    color:darkgrey;
}

h5 span {
    color:aqua;
}

#didascalia{
    font-size:12px;
}

.evidenziato{
    background-color:yellow;
}